* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: aliceblue;
}

body {
	background-color: rgb(20,20,20);
}



.main {
	background-color: royalblue;
	margin: 5em 1em;
	padding: 1em;
	border-radius: 10px;
	height: 100vw;
}

button {
	color: black;
}

header {
	background-color: royalblue;
	color: aliceblue;
}

nav {
	display: flex;
	justify-content: right;
}

nav li {
	text-decoration: none;
	list-style: none;
	width: 75px;
	text-align: center;
}

.project-profile {
	padding: 1em;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
}

.profile-preview {
	height: 300px;
	width: 100%;
	border-radius: 25px;
	object-fit: cover;
	transform: scale(0.8);
	transition: transform 0.5s;
}

@media (hover: hover) {
	.profile-preview:hover {
		transform: scale(1.0);
		transition: transform 1s;
		cursor: pointer;
	}
}

/*.project-profile p {
	width: 100%;
	text-align: center;
}

main h1 {
	background-color: royalblue;
	color: aliceblue;
}

section {
	border: 2px solid black;
	margin: auto;
	width: 95%;
	display: flex;
	flex-wrap: wrap;
}

section h2 {
	width: 100%;
	text-align: center;
}



.project-container {
	width: 100%;
	margin: 0 auto;
}

.project {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: top;
	justify-content: space-around;
}




.link-button {
	width: 100px;
	height: 25px;
	background-color: white;
	border: 2px solid blue;
	border-radius: 5px;
}

.link-button a {
	text-decoration: none
}

.link-button a:visited {
	color: black;
}


@media (hover: hover) {
	.link-button:hover {
		background-color: blue;
		transition: background-color 0.2s ease-in;
	}

}*/